
.left-form{
    -fx-background-color:linear-gradient(to bottom right, #3a7bd5, #3a6073);
    -fx-border-color:#000;
    -fx-border-width:.0px 0px .0px .0px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-background-insets: 0;
}

.close:hover{
    -fx-background-color:#ff4f6c;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-background-insets: 0;
}

.minimize:hover{
    -fx-background-color:#ff4f6c;
}

.hello{
    -fx-color:#000;
    -fx-font-family:"Interstate";
    -fx-font-size:35px;
}

.hello-name{
    -fx-color:#000;
    -fx-font-family:"Interstate";
    -fx-font-size:40px;
    -fx-font-weight: bold;
}

.top-form{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-border-width:.0px .0px .20px .10px;
}

.side-buttons{
    -fx-background-color:transparent;
    -fx-background-color:transparent;
    -fx-font-size:16px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
    -fx-textAlignment:CENTER;
    -fx-font-weight: bold;
    -fx-background-radius:10px;
    -fx-background-insets: 0;
}

.side-buttons: hover{
    -fx-font-size:19px;
}

.logoutbtn-fill{
    -fx-background-color:transparent;
    -fx-background-color:transparent;
    -fx-font-size:16px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
    -fx-textAlignment:CENTER;
    -fx-font-weight: bold;
    -fx-background-radius:10px;
    -fx-background-insets: 0;
}

.logoutbtn-fill: hover{
    -fx-font-size:19px;
}

.logoutbtn{
    -fx-background-color:#3a7bd5;
    -fx-background-radius:10px;
    -fx-cursor:hand;
    -fx-background-insets: 0;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 8,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius: 8px;
}
